<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps Starter Project</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&display=swap" rel="stylesheet">
</head>
<body>
    <a href="#main-content" class="skip-link">Menuju ke konten</a>
    <nav class="navbar">
        <button class="navbar-toggle" id="js-navbar-toggle">
            ☰
            </button>
        <a href="index.html" class="logo">Resto Laris</a>
        <ul class="main-nav" id="js-menu">
          <li>
            <a href="index.html" class="nav-links">Home</a>
          </li>
          <li>
            <a href="#" class="nav-links">Favorites</a>
          </li>
          <li>
            <a href="https://www.github.com/arvnabil" target="_blank" class="nav-links">About Us</a>
          </li>
        </ul>
      </nav>
    <div class="hero">
        <div class="hero_inner">
            <h1 class="hero_title">Resto Terbaik di Asia</h1>
            <p class="hero_tagline">Kalau sudah coba sambelnya, dijamin bayang-bayang mantan langsung hilang</p>
            <a href="#main-menu" class="btn">Yuk Langsung gass</a>
        </div>
    </div>
    <main id="main-content">
        <section class="content">
            <article class="headline">
                <figure class="headline_figure">
                    <img src="/images/heros/hero-image_1.jpg" alt="Resto Laris Figure">
                    <figcaption>Resto Laris Juni 2021, 9 Food</figcaption>
                </figure>
                <div class="headline_content">
                    <h1 class="headline_title">Tentang Resto Laris</h1>
                    <p class="headline_description">Restoran tertua di Jakarta yang masih berdiri. 
                        Favorit warga setempat selama lebih dari 83 tahun. Menghidangkan Ayam sambel mantan
                        dan Seblak kami yang terkenal. Hidangan Ayam, dan seblak dengan 
                        cita rasa khas masakan rumahan yang lezat. Pilihan makanan dan minuman  
                        yang lengkap. Menu lengkap ditawarkan sepanjang hari dan larut malam. Bar lengkap 
                        dengan hiburan di akhir pekan. Sering dikunjungi oleh bintang dan selebritas dari 
                        Nabil, serta menjadi tempat pesta penutupan pertunjukan. Berlokasi strategis 
                        di Condet raya, tepat di seberang Pom bensin.</p>
                        <br>
                    <a href="#main-menu" class="btn">Lihat Lebih</a>
                </div>
            </article>
            <div class="latest" id="main-menu">
                <h1>List Terlaris</h1>
                <food-list></food-list>
            </div>
        </section>
    </main>
    <footer>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Favorites</a></li>
            <li><a href="https://www.github.com/arvnabil" target="_blank">About Us</a></li>
        </ul>
        <p class="copyright">Copyright © 2021 - Resto Laris</p>
    </footer>

</body>
</html>
